@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>EduKnowledge</h1>
    <h4>Because everyone should know.</h4>
    <p>The goal of this website is to share knowledge regarding how to use certain educational pieces of technology.</p>
    <p>You'll need to sign in if you'd like to create an article.</p>
</div>
